* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Noto Sans KR;
    /* font-family: CHEESE PIZZA; */
}

ul,
li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

figure {
    width: fit-content;
    height: fit-content;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 15px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 25px;
}

h1 span {
    position: absolute;
    width: 1px;
    height: 1px;
    font-size: 0;
    overflow: hidden;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: none;
}

header h1 {
    margin: auto 0;
}

header h1 img {
    width: 4vw;
    height: 40%;
}

header ul {
    float: left;
    margin: auto 0;
}

header ul figure {
    display: none;
    width: 4vw;
    margin: auto;
}

header ul li {
    float: left;
    margin: 2vw;

}

main {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 200px;
}

main .text {
    position: absolute;
    top: 20%;
    left: 20%;
    color: #fff;
}

main .text h2 {
    font-size: 13vw;
    font-weight: 900;
    letter-spacing: 1vw;
    font-family: CHEESE PIZZA;
}

main .text p {
    letter-spacing: 0.5rem;
    font-family: CHEESE PIZZA;
}

main .text h3 {
    font-size: 300%;
    font-weight: 500;
}


.slide {
    width: 60%;
    height: 70%;
    margin: auto;
    border-radius: 20px;
    position: relative;
    border: 2px solid #F3A530;
    border-radius: 40px;
    margin-bottom: 200px;
}

.w-100 {
    width: 50%;
    height: 80%;
    border-radius: 50%;
    position: absolute;
    margin-top: 5%;
    padding: 0 10%;
}

.carousel-inner .carousel-item {
    width: 50%;
    height: 40rem;
    background-color: #F3A530;
    margin: 5% 5%;
    border-radius: 40px;
}

.carousel-inner .carousel-caption {
    position: absolute;
    width: 75%;
    top: 3%;
    left: 110%;
    color: #000;
    line-height: 300%;
    text-align: left;
    font-size: 16px;
}

.s1 span {
    display: block;
}

.s2 {
    margin: auto;
    width: 90%;
    overflow: hidden;
    margin-bottom: 200px;
}

.s2 .mr-3 {
    width: 25%;
    height: 15%;
}

.s2 .media-body {
    margin-top: 1%;
}

.s2 .media-body .mb1 {
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100px;
    color: #fff;
    background-color: #367ABD;
    margin-bottom: 3%;
}

.s2 .media-body .mb2 {
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100px;
    color: #fff;
    background-color: #F3A530;
    margin-bottom: 3%;
}

.s2 .media-body .mb3 {
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100px;
    color: #fff;
    background-color: #88C543;
    margin-bottom: 3%;
}

.s3 {
    width: 60vw;
    overflow: hidden;
    margin: auto;
    margin-bottom: 200px;
}

.s3all {
    display: flex;
    justify-content: space-around;
}

.s3 span {
    display: block;
}

.s3 figure {
    width: 35vw;
    height: 65%;
    margin-top: 2vw;
    display: inline-block;
}

.s3 .box {
    width: 7vw;
    height: 7vw;
    border: 1px solid #000;
    border-radius: 50%;
    text-align: center;
    padding-top: 2vw;
    margin: 1vw;
}

.s3 .allbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30vw;
    font-size: 1vw;
}

.s4 {
    width: 70vw;
    overflow: hidden;
    margin: auto;
}

.s4 .allcard {
    display: flex;
    flex-direction: row;
}

.s4 span {
    display: block;
    line-height: 2vw;
}

.s4 .add {
    font-size: 1.5vw;
    width: 8%;
    overflow: hidden;
    text-align: center;
    margin: 3% 46%;
}

.s4 .card {
    width: 20vw;
    height: 33vw;
    border: 2px solid #EC4A95;
    border-radius: 50px 50px 0 0;
    display: inline-block;
    margin: 0 1vw;
    line-height: 1vw;
    font-size: 1vw;
}

.s4 .card:last-of-type {
    margin-right: 0;
}

.s4 .card .card-img-top {
    width: 100%;
    height: 18vw;
    border-radius: 50px 50px 0 0;
}

.s4 .card-text {
    width: 14vw;
    overflow: hidden;
    margin-bottom: 1vw;
}

.btn {
    background-image: url(../images/btn.png);
    width: 5vw;
    height: 5vw;
    float: right;
    background-size: cover;
    margin-right: 5%;
    margin-top: 5%;
}



footer {
    width: 100%;
    overflow: hidden;
    background-color: #4F712A;
    color: #fff;
    margin-top: 15%;
    font-size: 14px;
}

footer img {
    width: 3vw;
    height: 3vw;
    display: inline-block;
    margin-right: 10px;
}

footer .f1 {
    padding: 5%;
    padding-bottom: 0;
    margin-left: 2%;
}

footer .f2 {
    padding-left: 5%;
}

footer .f2 p {
    float: left;
    margin-left: 3%;
    margin-top: 2%;
}

footer .copy {
    float: right;
    margin-top: 10%;
    margin-right: 5%;
}



@media screen and (max-width:450px) {
    


    .s4 .card{
        margin: auto;
        
    }
    .s4 .card-body{
        margin-top: -5px;
    }
    .s4 .card-body .card-text {
        margin-left: -5px;
    }

    footer p {
        font-size: 7px;
    }
}

@media screen and (max-width:576px) {
   
    header{
        height: 6vw;
        margin: 1vw 0;
        justify-content: space-between;
    }

    header h1 {
        margin-left: 4vw;
    }

    header ul li {
        display: none;
    }

    header ul figure {
        display: block;
        margin-right: 4vw;
    }

    .carousel-inner .carousel-caption {
        margin-top: -3vw;
    }

    main{
        margin-bottom: 30px;
    }
    .s2{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .s3{margin-bottom: 50px;}

    .s3 figure {
        width: 60vw;
    }

    .s3all {
        flex-direction: column;
    }

    .s3 .allbox {
        width: 110%;
        flex-direction: row;
        margin-top: -50px;
    }

    .s3 .box {
        width: 10vw;
        height: 10vw;
        margin-right: 3px;
        font-size: 2vw;
    }

    .s4 .allcard {
        width: 68vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
    }

    .s4 .card {
        width: 32vw;
        height: 48vw;
        margin-bottom: 5%;
    }
    .s4 .card-body .card-text{
        width: 26vw;
        margin-top: -15px;
        font-size: 2vw;
        line-height: 25px;
    }
    .s4 .card .card-img-top{height: 24vw;}
    .s4 .card-text span{margin-bottom: 1vw;}

    footer {
        font-size: 8px;

    }


}

@media screen and (max-width:768px) {

    .s2 .mr-3 {
        display: none;
    }


    .s4 .card-text {
        margin-top: -5px;
        margin-left: -10px;
        line-height: 1.5vw;
    }

    footer {
        font-size: 10px;
    }

}



@media screen and (max-width:992px) {

    main .text h2 {
        margin-top: 10%;
        margin-left: 25%;
    }

    main .text p {
        display: none;
    }

    main .text h3 {
        display: none;
    }

    .slide {
        height: 55vw;
    }

    .w-100 {
        height: 35vw;
        margin-top: 15%;
        padding: 0 5%;
    }

    .carousel-inner .carousel-item {
        height: 45vw;
        margin-top: 5%;

    }

    .carousel-inner .carousel-caption {

        line-height: 210%;
        font-size: 1.5vw;
    }

    footer {
        font-size: 11px;
    }

}