* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Noto Sans KR;
    /* font-family: CHEESE PIZZA; */
}

ul,
li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

figure {
    width: fit-content;
    height: fit-content;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 15px;
}

h2 {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}

h1 span {
    position: absolute;
    width: 1px;
    height: 1px;
    font-size: 0;
    overflow: hidden;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: none;
}

header h1 {
    margin: auto 0;
    width: 60px;
    overflow: hidden;
}


header ul {
    float: left;
    margin: auto 0;
}

header ul figure {
    display: none;
    width: 60px;
    margin: auto;
}

header ul li {
    float: left;
    margin: 30px;

}

main {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 10%;
}

main .text {
    position: absolute;
    top: 25%;
    left: 20%;
    color: #fff;
}

main .text h2 {
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: 10px;
    /* font-family: CHEESE PIZZA; */
    font-family: Chalkboard SE;
}

main .text p {
    letter-spacing: 5px;
    font-family: CHEESE PIZZA;
    /* font-family: Chalkboard SE; */
}

main .text h3 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 5px;
}

.s1 h2 {
    margin-bottom: 5%;
    font-size: 2rem;
}

.s2 h2 {
    margin-bottom: 5%;
    font-size: 2rem;
}

.s3 h2 {
    margin-bottom: 5%;
    font-size: 2rem;
}

.s4 h2 {
    margin-bottom: 5%;
    font-size: 2rem;
}

.slide {
    width: 60%;
    height: 70%;
    margin: auto;
    border-radius: 20px;
    position: relative;
    border: 2px solid #F3A530;
    border-radius: 40px;
    margin-bottom: 10%;
}

.w-100 {
    width: 50%;
    height: 80%;
    border-radius: 50%;
    position: absolute;
    margin-top: 5%;
    padding: 0 10%;
}

.carousel-inner .carousel-item {
    width: 50%;
    height: 40rem;
    background-color: #F3A530;
    margin: 5% 5%;
    border-radius: 40px;
}

.carousel-inner .carousel-caption {
    position: absolute;
    width: 75%;
    top: 3%;
    left: 110%;
    color: #000;
    line-height: 300%;
    text-align: left;
    font-size: 16px;
}

.s1 span {
    display: block;
}

.s2 {
    margin: auto;
    width: 90%;
    overflow: hidden;
    margin-bottom: 10%;
}

.s2 .mr-3 {
    width: 25%;
    height: 15%;
}


.s2 .media-body .mb1 {
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100px;
    color: #fff;
    background-color: #367ABD;
    margin-bottom: 3%;
    box-shadow: #24517d 5px 5px 5px;
}

.s2 .media-body .mb2 {
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100px;
    color: #fff;
    background-color: #F3A530;
    margin-bottom: 3%;
    box-shadow: #a26e20 5px 5px 5px;
}

.s2 .media-body .mb3 {
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100px;
    color: #fff;
    background-color: #88C543;
    margin-bottom: 3%;
    box-shadow: #4e7126 5px 5px 5px;
}

.s3 {
    width: 100%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 10%;
}

.s3all {
    margin: auto;
    width: 1400px;
    display: flex;
    justify-content: space-around;
}

.s3 span {
    display: block;
}

.s3 figure {
    width: 50%;
}



.s3 .allbox {
    width: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
}

.s3 .box {
    width: 110px;
    height: 110px;
    border: 1px solid #000;
    border-radius: 100%;
    text-align: center;
    padding-top: 30px;
    margin: 12px;
}


.s4 {
    width: 100%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 10%;
}

.s4 .allcard {
    width: 1500px;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.s4 span {
    display: block;
    line-height: 30px;
}

.s4 .add {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.s4 .card {
    width: 500px;
    overflow: hidden;
    border: 2px solid #EC4A95;
    border-radius: 50px 50px 0 0;
    margin: 0 20px;
}
.s4 .card-text{
    padding: 5px;}

.s4 .card-body {
    padding: 5px;
}

.s4 .card:last-of-type {
    margin-right: 0;
}

.s4 .card .card-img-top {
    width: 100%;
    height: 300px;
    border-radius: 50px 50px 0 0;
}



.btn {
    background-image: url(../images/btn.png);
    width: 80px;
    height: 80px;
    float: right;
    background-size: cover;
    margin-right: 50px;
    margin-bottom: 5%;
    
}


footer {
    width: 100%;
    overflow: hidden;
    background-color: #4F712A;
    color: #fff;
    font-size: 1rem;
    margin-top: 200px;
}




footer .f1 {
    width: 50px;
    height: 50px;
    margin: 100px 150px;
    text-align: center;
}

footer .f2 {
    margin-left: 150px;
    margin-bottom: 200px;
}

footer .f2 p {
    float: left;
    margin-right: 60px;
}

footer .copy {
    float: right;
    padding-bottom: 100px;
    margin-right: 150px;
}





@media screen and (max-width:992px) {
    
    main .text h2 {
        display: flex;
        text-align: center;
    }
    
    main .text p {
        display: none;
    }
    
    main .text h3 {
        display: none;
    }
    
    .slide {
        height: 55vw;
    }
    
    .w-100 {
        height: 35vw;
        margin-top: 15%;
        padding: 0 5%;
    }
    
    .carousel-inner .carousel-item {
        height: 45vw;
        margin-top: 5%;
        
    }
    
    .carousel-inner .carousel-caption {
        
        line-height: 210%;
        font-size: 1.5vw;
    }
    
    .s3all {
        width: 100%;
    }
    
    .s3 figure {
        width: 480px;
        height: 590px;
        margin-left: 30px;
        margin-top: 10%;
    }
    
    .s3 .box {
        width: 90px;
        height: 90px;
        padding-top: 15px;
    }
    
    .s4 .allcard {
        width: 960px;
    }
    
    .s4 .card {
        width: 300px;
        margin: 5px;
    }
    
    .s4 .card .card-img-top {
        height: 250px;
    }
    
    
    .btn {
        width: 60px;
        height: 60px;
        margin-right: 5%;
        margin-bottom: 3%;
    }
    
    footer {
        font-size: 11px;
    }
    
}




@media screen and (max-width:768px) {
    
    header h1 {
        width: 50px;
    }


    main .text h2 {
        font-size: 6rem;
        margin-left: 5%;
    }

    .s1 h2 {
        font-size: 1.5rem;
    }

    .s2 h2 {
        font-size: 1.5rem;
    }

    .s3 h2 {
        font-size: 1.5rem;
    }

    .s4 h2 {
        font-size: 1.5rem;
    }

    .s2 .mr-3 {
        display: none;
    }

    .s2 .media-body .mb1 {
        width: 250px;
        height: 35px;
        line-height: 35px;
    }

    .s2 .media-body .mb2 {
        width: 250px;
        height: 35px;
        line-height: 35px;
    }

    .s2 .media-body .mb3 {
        width: 250px;
        height: 35px;
        line-height: 35px;
    }

    
    .s3all{
        flex-direction: column;
    }
    .s3 .allbox{
        width: 90%;
        justify-content: center;
        margin-top: -10%;
    }
    .s3all figure{margin-left: 10%;}
    .s3 .box{
        width: 100px;
        height: 100px;
        font-size: 1.2rem;
        padding-top: 4%;
    }

  
    .s4 .allcard{
        width: 760px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-evenly;
    }
    .s4 .card{
        width: 300px;
        margin-bottom: 30px;
    }


    .btn {
        display: flex;
        justify-items: center;
    }


    footer {
        font-size: 10px;
    }

    
footer .f1 {
    width: 40px;
    height: 40px;
    margin: 40px 100px;
    text-align: center;
}

footer .f2 {
    margin-left: 100px;
    margin-bottom: 100px;
}

footer .f2 p {
    float: left;
    margin-right: 60px;
}

footer .copy {
    float: right;
    padding-bottom: 30px;
    margin-right: 50px;
}
    
}



    
    @media screen and (max-width:576px) {
        
        header ul li {
            display: none;
        }
        
        header ul figure {
            width: 30px;
            display: block;
        }

        header h1 a img {
            width: 30px;
        }

        header {
            width: 80%;
            height: 45px;
            margin: auto;
            justify-content: space-between;
        }

        main .text h2 {
            font-size: 4rem;
        }


        .s2 .media-body .mb1{
            font-size: 1.1rem;
        }
        .s2 .media-body .mb2{
            font-size: 1.1rem;
        }
        .s2 .media-body .mb3{
            font-size: 1.1rem;
        }


        .s3all{
            flex-direction: column;
        }
        .s3 .allbox{
            width: 90%;
            margin-top: -10%;
        }
        .s3all figure{margin-left: 10%;}
        .s3 .box{
            width: 90px;
            height: 90px;
            font-size: 1.1rem;
            padding-top: 4%;
            margin-left: 5%;
            margin-bottom: 4%;
        }
        .s3{margin-bottom: 100px;}


        .s4 .allcard{
            width: 570px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 0;
        }
        .s4 .card{
            width: 260px;
        }


        footer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
        }
        footer .f1{
            width: 15px;
            margin: auto;
            margin: 50px auto;
        }
        footer .f2{
            margin-bottom: 40px;
        }
        footer .copy{
            margin: auto;
            margin-bottom: 20px;
            line-height: 0px;
        }


    }



    @media screen and (max-width:450px) {
        main .text h2{
            font-size: 3rem;
            margin-top: 5%;
        }

        .s1 h2{font-size: 1.2rem;}
        .s2 h2{font-size: 1.2rem;}
        .s3 h2{font-size: 1.2rem;}
        .s4 h2{font-size: 1.2rem;}


        .s2 h2{margin: 5% auto;}
        .s2 .media-body .mb1 {
            width: 250px;
            height: 30px;
            line-height: 30px;
            margin-bottom: 3%;
        }
        .s2 .media-body .mb2 {
            width: 250px;
            height: 30px;
            line-height: 30px;
            margin-bottom: 3%;
        }
        .s2 .media-body .mb3 {
            width: 250px;
            height: 30px;
            line-height: 30px;
            margin-bottom: 3%;
        }

        
        .s3all figure{
            width: 100%;
            margin: 0;
        }
        .s3 .allbox{
            width: 100%;
        }
        .s3 .box{
            width: 100px;
            height: 100px;
            font-size: 1.1rem;
            padding-top: 5%;
        }

        .s4 .allcard{
            width: 100%;
            flex-direction: column;
        }
        .s4 .card{
            width: 300px;
            margin: 10px auto;
        }
        .s4 .card:last-of-type{margin: 10px auto;}

        .btn{
            width: 50px;
            height: 50px;
        }

        footer .f1{width: 15px;}
        footer .f2{
            width: 90%;
            display: flex;
            justify-content: space-around;
            margin: auto;
            margin-bottom: 10%;
        }
        footer .f2 p:last-of-type{margin-right: 0;}


    }



    @media screen and (max-width:395px) {

        main .text h2{margin-left: 0;}

        .s3 .allbox{
            width: 100%;
            margin-top: -150px;
        }
        .s3 .box{
            width: 90px;
            height: 90px;
            margin: 10px;
        }

        .s4{line-height: 5px;}
        .s4 .card-body{padding-top: 5%;}
        .s4 span:first-of-type{margin-top: 7px;}
        .s4 .add{
            width: 100%;
            padding: 3px;
        }

    
    }

